/* setting */

@import "normalize.css";
@import "global.css";

/* page */

@import "header/header.css";
@import "banner/banner.css";
@import "benefits/benefits.css";
@import "reserv/reserv.css";
@import "halls/halls.css";
@import "about/about.css";
@import "reviews/reviews.css";
@import "faq/faq.css";
@import "footer/footer.css";


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
