:root {
  --text-white: #ffffff;
  --text-black: #1c1a1a;
  --dark-violet: #440f51;
  --medium-violet: #cd06ff;
  --light-violet: #6c0287;
  --button-hover: #840aa3;
  --button-active: #640aa3;
  --shadow: #eadeed;
}
