.faq__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.faq__item {
  font-size: 24px;
  font-weight: 700;
  line-height: 46px;
  color: #1c1a1a;

  padding: 20px 70px;
  background-color: #ffffff;
  cursor: pointer;
}

.faq__item::after {
  content: "";
  display: inline-block;
  background-image: url(/img/page/faq/icons/open-purple.svg);
  width: 46px;
  height: 46px;
  background-size: cover;
  float: right;
}

.faq__item:nth-child(2n) {
  color: #fff;
  background-color: #440F51;
}

.faq__item:nth-child(2n)::after {
  background-image: url(/img/page/faq/icons/open.svg);
}
