.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.contacts__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 145px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  font-weight: 700;
}

.contacts__item::before {
  content: '';
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 34px;
}

.contacts__location {
  font-style: normal;
  margin-bottom: 36px;
}

.contacts__location::before {
  background-image: url('/img/footer/icons/location.svg');
  float: left;
  margin-top: 10px;
}

.contacts__tel {
  margin-bottom: 11px;
}

.contacts__tel::before {
  background-image: url('/img/footer/icons/telephone.svg');
}

.contacts__mail {
  margin-bottom: 40px;
}

.contacts__mail::before {
  background-image: url('/img/footer/icons/envelope.svg');
}

.contacts__social {
  display: flex;
  gap: 26px;
}

.contacts__social-item img {
  display: block;
}

.copy {
  display: flex;
  justify-content: space-between;
}

.copy span + span {
  text-align: right;
}
