.halls__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.halls__item {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 580px;
  height: 349px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vibes {
  background: url("../../img/page/halls/hall-01.jpg") no-repeat center center / cover;
}

.star-wars {
  background: url("../../img/page/halls/hall-02.jpg") no-repeat center center / cover;
}

.wild-west {
  background: url("../../img/page/halls/hall-03.jpg") no-repeat center center / cover;
}

.neon-style {
  background: url("../../img/page/halls/hall-04.jpg") no-repeat center center / cover;
}
