@import "menu.css";

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 0;
}

/* logo */

.logo {
  line-height: 0;
}

/* button */

.header__button {
  flex-shrink: 0;
}

.call {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #cd06ff;
  border-radius: 10px;
  padding: 12px 32px;
  transition: all 0.3s ease-in;
}

.call:hover {
  color: #cd06ff;
  background-color: #ffffff;
}
