@import "menu.css";

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 0;
}

/* logo */

.logo {
  line-height: 0;
}

/* button */

.header__button {
  flex-shrink: 0;
}

.call {
  font-size: 22px;
  font-weight: 700;
  color: var(--text-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid var(--light-violet);
  border-radius: 10px;
  padding: 12px 32px;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
}

.call:hover,
.call:focus {
  background-color: var(--light-violet);
}

.call:active {
  border: 3px solid var(--button-active);
  background-color: var(--button-active);
}
