.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.menu__item {
  text-align: center;
}

.menu__link {
  font-size: 22px;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--medium-violet);
}

.menu__link:active {
  color: var(--button-active);
}
