.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

/* card */

.card {
  width: 380px;
  height: 228px;
  position: relative;
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px var(--shadow);
}

.card_vr {
  background-image: url('../../img/page/benefits/vr.jpg');
}

.card_audio {
  background-image: url('../../img/page/benefits/audio.jpg');
}

.card_micro {
  background-image: url('../../img/page/benefits/micro.jpg');
}

.card_game {
  background-image: url('../../img/page/benefits/game.jpg');
}

.card_netflix {
  background-image: url('../../img/page/benefits/netflix.jpg');
}

.card_sony {
  background-image: url('../../img/page/benefits/sony.jpg');
}

.card__text {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 166px;
  left: 40px;
}
