.banner__container {
  height: 860px;
  background:
    url("../../img/page/banner/main-bg-text.svg") no-repeat top 185px center,
    url("../../img/page/banner/main-bg-text.svg") no-repeat top 335px center,
    url("../../img/page/banner/main-bg-text.svg") no-repeat top 485px center,
    url("../../img/page/banner/main-bg-text.svg") no-repeat top 635px center,
    url("../../img/page/banner/main-bg-text.svg") no-repeat top 785px center;

  position: relative;
}

.banner__container::before {
  content: '';
  background: url("../../img/page/banner/main-bg.png") no-repeat bottom 80px right;
  display: inline-block;
  height: 940px;
  width: 1180px;
  position: absolute;
}

.banner__title {
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -20px;
}

.banner__subtitle {
  font-size: 28px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 211px;
}

.promo {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.promo__description {
  display: flex;
  margin-bottom: 170px;
}

.promo__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  column-gap: 4px;
  height: 180px;
  text-align: center;
}

.promo__value {
  font-size: 100px;
  font-weight: 900;
  line-height: 1;
  color: var(--medium-violet);
}

.promo__new {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  color: var(--medium-violet);
  text-transform: uppercase;
}

.promo__name {
  font-size: 28px;
}

.promo__button {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 25px 70px;
  background-color: var(--light-violet);
  border-radius: 10px;
  z-index: 1;
  transition: background-color 0.2s ease-in;
}

.promo__button:hover,
.promo__button:focus {
  background-color: var(--button-hover);
}

.promo__button:active {
  background-color: var(--button-active);
}

.promo__arrow {
  border: 1px solid var(--text-white);
  border-radius: 50%;
  padding: 30px;
  position: absolute;
  right: 50%;
  bottom: 90px;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.promo__arrow:hover {
  background-color: var(--light-violet);
}

.promo__arrow:active {
  background-color: var(--medium-violet);
}

.promo__arrow:focus {
  outline: 1px solid var(--medium-violet);
  border-radius: 0;
}
