/* media 768px */

@include tablet {
  .about {
    margin-bottom: 60px;

    &__body {
      grid-template-columns: unset;
      grid-template-rows: unset;
      grid-template-areas:
      "photo text"
      "blockquote blockquote";
      gap: 30px 28px;
    }

    &__text {
      font-size: 16px;
      line-height: 22px;
      justify-content: center;
      gap: 26px;
    }

    &__blockquote-wrapper {
      row-gap: 16px;
    }

    &__blockquote {
      font-size: 32px;
    }

    &__cite {
      gap: 25px;
    }
  }
}