/* media 1024px */

@include laptop {
  .about {
    margin-bottom: 70px;

    &__body {
      grid-template-columns: 420px 444px;
      grid-template-rows: 195px 217px;
      gap: 26px 40px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
      gap: 26px;
    }

    &__blockquote-wrapper {
      row-gap: 13px;
    }

    &__blockquote {
      font-size: 30px;
      line-height: 36px;
      margin: 0 0 0 25px;

      &::before {
        margin-left: -25px;
      }
    }

    &__cite {
      gap: 35px;
    }
  }
}