/* media 320px */

@include mobile {
  .benefits {
    padding-bottom: 0;
    margin-bottom: 30px;

    &__list {
      gap: 10px;
    }

    .card {
      width: 135px;
      height: 75px;

      &__text {
        font-size: 10px;
        line-height: 14px;
        top: 30px;
        left: 10px;
      }
    }
  }
}