.about__body {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.about__photos {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
}

.about__blockquote {
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 35px;
}

.about__blockquote::before {
  content: '\201C';
  font-weight: 900;
  color: #6C0287;
  margin-left: -35px;
}

.about__blockquote::after {
  content: '\201D';
  font-weight: 900;
  color: #6C0287;
}

.about__cite {
  font-style: normal;
  margin-left: 111px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.about__author {
  border-radius: 50%;
}
