/* reviews */

.reviews__container {
  padding-right: 100px;
  padding-left: 100px;
}

.reviews__body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

/* item */

.reviews__item {
  display: flex;
  column-gap: 20px;
}

/* user */

.user {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  flex-shrink: 0;
  row-gap: 11px;
}

.user__name {
  text-align: center;
}

.reviews__text {
  padding-top: 50px;
}
